@model PAHStack.Models.PostModel

@{
    ViewBag.Title = "Details";
}

@*Title at Top of Each Question Page*@
<div>
    <h2>
        @Html.DisplayFor(model => model.Title)
    </h2>
</div>

<hr />

<div class="col-xs-12">
    <div class="col-xs-1">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Starred)
            </dt>

            @*TODO: Needs to be replaced with star*@
            <dd class="stars">
                <input type="radio" name="star" class="star" id="star" />
                <label class="star" for="star"></label>
            </dd>
        </dl>
    </div>

    <div class="col-xs-11">
        <dl>
            <dd class="commentText">
                @Html.DisplayFor(model => model.Body)
            </dd>

            @if (!String.IsNullOrEmpty(Model.Img))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Img)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Img)
                </dd>
            }
        </dl>
    </div>
    <div class="col-xs-5">
        ***Placeholder for tags***
    </div>
    <div class="col-xs-5">
        <span>@Html.DisplayFor(model => model.DatePosted)</span>
        @*TODO: The model.User.UserName is not displaying*@
        <span>Posted by @Html.DisplayFor(model => model.User.UserName)</span>
    </div>
</div>

<hr />

    </dl>
</div>

<p></p>

<br /> 
<br /> 
<br />
<br />  


<p>
    
   
    @Html.ActionLink("Test making a comment", "Create", "Answer", new { id = Model.Id }, new { @class = "btn btn-primary btn-sm &raquo" }) | 
   
    @Html.ActionLink("Back to List", "Index", "Home")
</p>
