<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PAHstackoverflow</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-nav-links">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <img src="~/Images/logo.png" title="PAHStackOverflow" alt="additional title" height=60 width=250 />
                </a>
            </div>
            <div class="main-nav-links navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Questions", "Index", "PostModel")</li>
                    <li>@Html.ActionLink("Jobs", "Index", "Home")</li>
                    <li>@Html.ActionLink("Documentation", "Index", "Home")</li>
                    <li>@Html.ActionLink("Tags", "Index", "Home")</li>
                    <li>@Html.ActionLink("Users", "Index", "Home")</li>
                </ul>

                    <div class="navbar-form navbar-left">
                        <div class="input-group" id="search-form">
                            @Html.Action("Search", "Home");
                            <button type="submit">
                                <i class="glyphicon-search"></i>
                            </button>
                        </div>
                    </div>

               
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - A PAH, INC. PRODUCTION</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
