
﻿@model PAHStack.ViewModels.PostAndAnswerViewModel
@using Microsoft.AspNet.Identity
@using PAHStack.Models



@{
    ViewBag.Title = "Details";
}

@*Title(Question) at Top of Each Details(Question) Page*@
<div>
    <h2>
        @Html.DisplayFor(model => model.Posts.Title)
    </h2>
</div>

<hr />

<div class="col-xs-12" id="commentbox">
    <div class="col-xs-1 text-center" id="stararrowbox"> @*Vote Buttons*@
      <div id="voteContainer-@Model.Posts.Id">
          <div id="voteContainer">
              @Html.Partial("_PartialVoteDisplay", Model.Posts)
          </div>
      </div>

        <div class="stars">@*Favorite Star*@
            <input class="star" type="checkbox" title="favorite" checked><br />
        </div>

    </div>
        

    <div class="col-xs-11">
        <dl>
            <dd class="commentText">
                @Html.DisplayFor(model => model.Posts.Body)
            </dd>

            @if (!String.IsNullOrEmpty(Model.Posts.Img))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Posts.Img)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Posts.Img)
                </dd>
            }
        </dl>
    </div>
</div>

    <hr />
    <br />
    <br />

<div class="col-sm-12" id="commentfooter">
    <div class="col-sm-1"></div>
    <div class="col-xs-6">
        ***Placeholder for tags***
    </div>
    <div class="col-xs-5">
        <span>@Html.DisplayFor(model => model.Posts.DatePosted)</span>
        
        <span>Posted by @Html.DisplayFor(model => model.Posts.User.UserName)</span>

        
    </div>
</div>


<div>

    @foreach (var item in Model.AnswerCollection)
    {
        <p>The answer - @item.Body</p>

        DateTime result = Convert.ToDateTime(item.DateAnswered);
        string formattedDate = result.ToShortDateString();

        <p>Date answered on - @formattedDate</p>

        <p>answered by @item.User.UserName</p>
    }


</div>


<p>
    
   
    @Html.ActionLink("Answer the question", "Create", "Answer", new { id = Model.Posts.Id }, new { @class = "btn btn-primary btn-sm &raquo" }) | 
   
    @Html.ActionLink("Back to List", "Index")
</p>
