@model PAHStack.Models.PostModel
    @using PAHStack.ViewModel;
 

@{
    ViewBag.Title = "Details";
}

@*Title(Question) at Top of Each Details(Question) Page*@
<div>
    <h2>
        @Html.DisplayFor(model => model.Title)
    </h2>
</div>

<hr />

<div class="col-xs-12" id="commentbox">
    <div class="col-xs-1 text-center" id="stararrowbox"> @*Vote Buttons*@
      <div id="voteContainer-@Model.Id">
          <div id="voteContainer">
              @Html.Partial("_PartialVoteDisplay", Model)
          </div>
      </div>

        <div class="stars">@*Favorite Star*@
            <input class="star" type="checkbox" title="favorite" checked><br />
        </div>
    </div>
        

    <div class="col-xs-11">
        <dl>
            <dd class="commentText">
                @Html.DisplayFor(model => model.Body)
            </dd>

            @if (!String.IsNullOrEmpty(Model.Img))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Img)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Img)
                </dd>
            }
        </dl>
    </div>
</div>

    <hr />
    <br />
    <br />

<div class="col-sm-12" id="commentfooter">
    <div class="col-sm-1"></div>
    <div class="col-xs-6">
        ***Placeholder for tags***
    </div>
    <div class="col-xs-5">
        <span>@Html.DisplayFor(model => model.DatePosted)</span>
        <span>Posted by @Html.DisplayFor(model => model.User.UserName)</span>
    </div>
</div>

    <hr />
    <br /> 
    <br />  

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
