@model PAHStack.Models.AnswerVoteModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AnswerVoteModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Answer.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerVoteValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerVoteValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
